# HW2

##### HW2Q1

In [ ]:
letter1 = input()
letter2 = input()
letter3 = input()

A
B
C

In [ ]:
reverse1 = chr(ord('Z') - (ord(letter1) - ord('A')))
reverse2 = chr(ord('Z') - (ord(letter2) - ord('A')))
reverse3 = chr(ord('Z') - (ord(letter3) - ord('A')))

In [ ]:
print(reverse1 + reverse2 + reverse3)

ZYX

In [ ]:
sum_of_positions = (ord(letter1) - ord('A')) + (ord(letter2) - ord('A')) + (ord(letter3) - ord('A'))
print(sum_of_positions)

36

##### HW2Q2

In [ ]:
number = int(input("insert nuber contains betwen 2 to 4 digits: "))
num_str = str(number)
diff_fist = abs(int(num_str[0]) - int(num_str[1]))
diff_last = abs(int(num_str[0]) - int(num_str[-1]))
is_valid = (diff_fist == diff_last)

print(diff_fist, diff_last)
print(is_valid)

insert nuber contains betwen 2 to 4 digits: 123
1 2
False

##### HW2Q3

In [ ]:
x = int(input())
y = int(input())

if (x % 3 == 0 and x % 2 != 0) or (y % 3 == 0 and y % 2 != 0) or (x == 0 or y == 0):
    print("You have excellent numbers.")
else: 
    print("You lose.")

20
0
You have excellent numbers.

# HW3

### HW3Q1

In [ ]:
lst_num_input = input().split(',')
lst_input = []

for num in lst_num_input:
    lst_input.append(int(num))

continuous_num = []
count = 1

for i in range(1, len(lst_input)):
    if lst_input[i] == lst_input[i-1]:
        count += 1
    else:
        count = 1

    if count >= 3 and lst_input[i] not in continuous_num:
        continuous_num.append(lst_input[i])

continuous_num_result = []
for num in continuous_num:
    continuous_num_result.append(str(num))

print(continuous_num_result)

10,10,10,11,12,12,12,12,13,13
['10', '12']

### HW3Q2

In [ ]:
grocery_lst = input().split(',')
qty_lst = []

qty_input = input().split(',')
for qty in qty_input:
    qty_lst.append(int(qty))

qty_lst_result = []

for qty in qty_lst:
    if qty > 0:
        qty_lst_result.append(qty)

for i in range(len(grocery_lst)):
    item = grocery_lst[i]
    if i < len(qty_lst_result):
        count = qty_lst_result[i]
        for j in range(count):
            print(item)

milk,bread,honey,tomato
1,2,1,0
milk
bread
bread
honey

### HW3Q3

In [ ]:
city_price_lst = input().split(",")
cities = []
rent = []

for i in range(0, len(city_price_lst), 2):
    cities.append(city_price_lst[i])
    rent.append(int(city_price_lst[i + 1]))  


cities_lst = []

for i in range(len(cities)):
    city = cities[i]
    if city in cities_lst:
        continue

    total_rent = rent[i]
    count = 1

    for j in range(i+1, len(cities)):
        if cities[j] == city:
            total_rent += rent[j]
            count += 1

    average_rent = total_rent // count
    cities_lst.append(city)

    print(f"{city}: {average_rent}")

Haifa,2000,Tel Aviv,6000,Tel Aviv,4800,Haifa,2400,New-York,9000,Paris,4570,Paris,5638,New-York,8900
Haifa: 2200
Tel Aviv: 5400
New-York: 8950
Paris: 5104